HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
data/shoppingmore.script
data/shoppingmore.properties
data/shoppingmore.log
data/shoppingmore.lck
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
src/main/webapp/WEB-INF/classes/application.properties
src/main/webapp/WEB-INF/classes/db/migration/V2__Item.sql
src/main/webapp/WEB-INF/classes/application.properties
src/main/webapp/WEB-INF/classes/db/migration/V2__Item.sql
